* {
	box-sizing: border-box;
	font-family: Helvetica;
}

body {
	height: 100%;
	background-color: #e6f9ff;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 30em;
}

.your-name {
	font-size: 1.8em;
	margin-bottom: 1em;
}

.input {
	width: 15em;
	height: 2.5em;
	margin-bottom: 1em;
	font-size: 0.9em;
	border: 1px solid grey;
	color: black;
	font-weight: bolder;
	padding-left: 1em;
	padding-right: 1em;
}

.button {
	height: 2em;
	margin-bottom: 1em;
	background-color: #33ccff;
	padding: 0.5em 1em 0 1em;
	border: 1px solid grey;
}

.button:hover {
	background-color: #b3ecff; 
}

.output {
	background-color: #b3ecff;
	color: red;
	width: auto;
	min-width: 13em;
	height: 2em;
	font-size: 1.1em;
	border: 1px solid grey;
	color: black;
	padding-top: 0.4em;
	padding-left: 1em;
	padding-right: 1em;
	display: inline-block;
}

.capitalize {
	text-transform:capitalize;
}
